@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #f59e0b; /* Amber/Industrial Orange */
  --color-secondary: #4b5563; /* Gray 600 */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-zinc-900 antialiased;
}

::selection {
  @apply bg-orange-500 text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 rounded-full hover:bg-zinc-600;
}
